@import 'global.css';
@import 'normalize.css';


body {
	background-color: #fafafa;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../img/ballot.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.time-count {
    /* position: relative;
    left: 5em;
    top: 5em; */
    background: #ffffff26;
    box-shadow: 4px 8px 40px rgb(8 24 111 / 20%);
    border-radius: 30px;
    /* width: 630px;
    height: 289px;
    padding: 52px 29px; */
	width: 796px;
	height: 359px;
	padding: 75px 86px;
}

.time-count__title {
    /* margin: 0;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 37px;
    line-height: 47px;
    text-align: center;
    color: var(--color-dark); */
    margin: 0;
	margin-bottom: 35px;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: var(--color-dark);
}

.time-count__content {
	display: flex;
	justify-content: center;
}

.time-count__item {
	text-align: center;
}

.time-count__val {
    /* min-width: 65px;
    font-weight: 700;
    font-size: 57px;
    line-height: 76px;
    color: var(--color-accent); */
    min-width: 81px;
	font-weight: 700;
	font-size: 70px;
	line-height: 82px;
	color: var(--color-accent);
}

.time-count__separator {
    /* font-weight: 700;
    font-size: 44px;
    line-height: 72px;
    text-align: center;
    color: var(--color-accent);
    margin: 0 33px; */
    font-weight: 700;
	font-size: 48px;
	line-height: 74px;
	text-align: center;
	color: var(--color-accent);
	margin: 0 33px;
}

.time-count__text {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
}
/* .logo {
    width: 10em;

}
.logo img {
    width: 100%;
} */